
.customBlock {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-color: #DFDEDE;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}


.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
}
.rmdimportant {
  background-image: url("images/important.png");
  border-color: #6C3483;
}
.rmdnote {
  background-image: url("images/note.png");
  border-color: #117A65;
}
.rmdtip {
  background-image: url("images/tip.png");
  border-color: #B9770E;
}
.rmdwarning {
  background-image: url("images/warning.png");
  border-color: #B03A2E;
}
